extends layout
   
block content
    .main#main
    section#aboutus.section-bg
    .container
      header.section-header(style='color: #A21C3A;')
        h3 About us
        p
          | Due to the lack of traditional sports in our school district, we would like to give students an opportunity to be able be introduced to the world of Esports in a state-wide environment. Through our different events, we plan to promote the growth of sportsmanship in a club based environment, STEM program engagement through different technology based activities, and the overall Esports Community in Las Vegas!
      .aboutusstuffigidrk  
         .row
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                .icon(style='background: #fceef3;')
                  i.ion-ios-analytics-outline(style='color: #ff689b;')
                h4.title
                  a(href='') Founder
                p.description
                  | Davis Kong
                p.description
                  | Super Smash Bros. Ultimate
                p.description.aboutussocialiconsforusdevdudethingies
                  a(href='https://www.youtube.com/channel/UCAJOojev9VPsLDjZFCpOMyw')
                     i.fab.fa-youtube(style='color: #A21C3A;')
                  //a(href='')
                     i.fab.fa-twitter(style='color: #A21C3A;')
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                .icon(style='background: #fff0da;')
                  i.ion-ios-bookmarks-outline(style='color: #e98e06;')
                h4.title
                  a(href='') Co-Developer
                p.description
                  | Billy Myers
                p.description
                  | #{game}
                p.description.aboutussocialiconsforusdevdudethingies
                  a(href='https://github.com/snekery')
                     i.fab.fa-github(style='color: #A21C3A;')
                  //a(href='link')
                     i.fab.fa-youtube(style='color: #A21C3A;')
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.2s' data-wow-duration='1.4s')
              .box
                .icon(style='background: #ecebff;')
                  i.ion-ios-clock-outline(style='color: #8660fe;')
                h4.title
                  a(href='') Co-Developer
                p.description
                  | Ethan Aldrich
                p.description
                  | #{egames}   
                p.description.aboutussocialiconsforusdevdudethingies
                  a(href='https://github.com/ethanaldrich9986')
                     i.fab.fa-github(style='color: #A21C3A;')
                  a(href='https://twitch.tv/ethanaldr')
                     i.fab.fa-twitch(style='color: #A21C3A;')
                  a(href='hhttps://www.youtube.com/channel/UCQ-HYq_uqMgUtsCzdwiZMFw')
                     i.fab.fa-youtube(style='color: #A21C3A;')
                         
            //.col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.2s' data-wow-duration='1.4s')
              .box
                .icon(style='background: #ecebff;')
              i.ion-ios-clock-outline(style='color: #8660fe;')
                h4.title
                  a(href='') IDK YET
                p.description
                  | Caleb Vogt
                p.description
                  | Rainbow Six Siege
                p.description
                  //a(href='https://github.com/ethanaldrich9986')
                     i.fab.fa-github(style='color: #A21C3A;')
                  //a(href='https://twitch.tv/ethanaldr')
                     i.fab.fa-twitch(style='color: #A21C3A;')
                  //a(href='hhttps://www.youtube.com/channel/UCQ-HYq_uqMgUtsCzdwiZMFw')
                     i.fab.fa-youtube(style='color: #A21C3A;')
                         
            .row

      //h3.sponsors
          strong(text-align='center') Thank you to our sponsors!

      //.sponsorslist
          .row
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo