extends layout

block content
    .main#main
        .jumbotron.jumbotron-fluid.fortnite-banner
            .container
                strong
                    h1.display-4.text-light.text-center.mb-3 Fortnite
                p.lead.text-light.text-center Competitive Fortnite
        .container
            //.row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/fortnite-logo-512.png' alt='fortnite logo' width=120 height=120)
                        .media-body
                            h5.mt-0 Coming Soon!
                            p.mb-0.about 

            .row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/fortnite-logo-512.png' alt='fortnite logo' width=120 height=120)
                        .media-body
                            h5.mt-0 About
                            p.mb-0.about Fortnite Battle Royale, a free-to-play battle royale game where up to 100 players fight to be the last person standing

            //.row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/minecraft-1-logo-png-transparent.png' alt='MC logo' width=120 height=120)
                        .media-body
                            h5.mt-0 Team Registry
                            p.mb-0 You can register your team using the link below, but be sure to read ALL of the rules!
                            a.btn.btn-dark(href='#' role='button').mt-2 Register your team
            //.row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/fortnite-logo-512.png' alt='fortnite logo' width=120 height=120)
                        .media-body
                            h5.mt-0 Team Registry
                            p.mb-0 You can register your team in person at the venue.
            .row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/fortnite-logo-512.png' alt='fortnite logo' width=120 height=120)
                        .media-body
                            h5.mt-0 Ruleset
                            ul.mb-0
                                iframe(src="/misc/FortniteRuleSet.pdf" width="300%" height="500px")
