extends layout

block content
    .main#main
        .jumbotron.jumbotron-fluid
            .container
                h1.display-4.text-center Raising Nevada High School gamers to the next level.
                p.lead.text-center We are Silver State High School Esports, and we desire to create a welcoming and challenging esports experience in Nevada.
                hr.my-4
                p.text-center Learn more about us and the games that we support by using the navigation on the top of the page.
        .container
            .row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        //img.mr-3(src='' alt='Silver State High School Esports Logo' width=120 height=120)
                        .media-body
                            h5.mt-0 Gamers Unite
                            p Due to the lack of traditional sports at certain school, we would like to give students an opportunity to be able to be introduced to the world of Esports in a school environment.
                            p We've created a space in which gamers in Nevada can meet up with each other and play games together. We strive to make this a process in which everyone will be able to participate in.
                            p Through our different events, we plan to promote the growth of sportsmanship in a club environment, STEM program engagement through different technology based activities besides gaming, and the overall Esports Community in Las Vegas.
        .containter
            .row.justify-content-md-left-mb-5
                .col-sm-auto
                     .media
                        .media-body 
                            h5.mt-0 Instagram

                .col-sm-auto
                    .media
                        .media-body
                            h5.mt-0 Twitter

                .col-sm-auto
                    .media
                        .media-body
                            h5.mt-0 YouTube