extends layout

block content
    .main#main
        .jumbotron.jumbotron-fluid(background='#000')
            .container
                strong
                    h1.display-4.text-light.text-center.mb-3(background='black') League Information
                p.lead.text-light.text-center
        .container
            .row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/HSESPORRTSLOGO_1.png' alt='League of Legends logo' width=120 height=120)
                        .media-body
                            h5.mt-0(class=events) Events
                            p Unless explicitly stated otherwise, you must currently be attending a High School within the state of Nevada in order to compete in any Silver State Esports Event.
                            p The Silver State Esports League is 100% run for students by students. All events are planned and coordinated by high school students who help run and maintain their own Esports Clubs.
                            p There are several types of Silver State Esports events!
                            br
                            p
                                strong Solo Events:
                                p Super Smash Bros. Ultimate and Fortnite
                            p
                                strong Team Events:
                                p League of Legends (5v5) and Overwatch (6v6)
                            p
                                strong One-Off Events:
                                p Minecraft, Mario Kart 8 Deluxe, etc…

                            p Each of these are broken into three different event types!
                            strong
                                p Silver State Esports Events
                            p A tournament held only for High School students, school ID check.
                            p Held at a venue like Gameworks and has an entry fee of $10.
                            p Includes Super Smash Bros. Ultimate, Fortnite, League of Legends, and Overwatch and many more!
                            strong
                                p Local Event
                            p An event held on a weekly basis that high schools can compete in to gain PR.
                            p Held for all people that live in Las Vegas. not just High School students.
                            p Fee of usually $10 to compete in the local event.
                            p Includes Super Smash Bros. Ultimate and Fortnite.
                            strong
                                p Heatwave Event
                            p Online exhibition match between 2 High Schools.
                                p free event for students to compete in.
                            p Includes League of Legends and Overwatch.
            .row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/HSESPORRTSLOGO_1.png' alt='League of Legends logo' width=120 height=120)
                        .media-body
                            h5.mt-0(class=pricing) Pricing
                            p Similar to how many local tournaments are run, all Silver State Esports Events will have a price that is determined by the total entry fee and venue fee. This means there is no fee for joining the league, you only need to pay for the events you actually compete in.
                            p The venue fee will go to the venue owners as payment for them letting us use their equipment for events. While the entry fee will go into the prize pool which the players will be rewarded with if they placed high enough. This total typically comes out to about $10 per person for every event they enter. (Fees may vary depending on the scale of the event)
                            p *Silver State Esports will NOT profit from any events, all money spent at our events will either going towards the venue or the prize pool.

            .row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/HSESPORRTSLOGO_1.png' alt='League of Legends logo' width=120 height=120)
                        .media-body
                            h5.mt-0(class=prizes) Prizes
                            p All entry fee money will be compiled into the prize pool and will be distributed accordingly based on factors like tournament entrants, singles or doubles events and the game being played.
                            p For example, if the entry fee was $5, the prize pool would look something like this:
                            p
                                table.tg
                                    tr
                                        th.tg-73oq Entrants
                                        th.tg-73oq Prize Pool
                                    tr
                                        td.tg-73oq 10
                                        td.tg-73oq $50
                                    tr
                                        td.tg-73oq 20
                                        td.tg-73oq $100
                                    tr
                                        td.tg-73oq 30
                                        td.tg-73oq $150
                                    tr
                                        td.tg-73oq 40
                                        td.tg-73oq $200
                                    tr
                                        td.tg-73oq 50
                                        td.tg-73oq $250