extends layout

block content
	.main#main
		.jumbotron.jumbotron-fluid.lvlup-banner
			.container
				strong
					h1.display-4.text-light.text-center.mb-3 LVL UP EXPO
				p.lead.text-light.text-center 
		.container
			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/lvlup.new.png' alt='LVLUP Expo Logo' width=333 height=113)
						.media-body
							p LVL UP EXPO has partnered with the Silver State Esports League to compete in the numerous esports related events that they run every year. We must do a couple of things in order to make this happen:
							ul
								li Have a representative from your school (advisory or student) contact us and let us know they are interested and are willing to compete.
								li Promote the LVL UP EXPO to your school by using the school announcements, social media, and any other possible methods.
								li Either choose your Top 5 Players by hosting an event or another method like in game ranking systems to send as school representatives to the LVL UP EXPO.
								li Those 5 students will have FREE 3 Day Badges to compete in any of the events at the LVL UP EXPO that are held that weekend. (Those 5 will also receive a T-Shirt with their own school logo on the front, LVL UP EXPO Sponsor on the back, and more sponsors on the sleeves of the t-shirt.)