extends layout

block content
    .main#main
        .jumbotron.jumbotron-fluid.oneoff-banner
            .container
                strong
                    h1.display-4.text-light.text-center One-Off Events
        .container
            .row.justify-content-md-center
                h1 Coming Soon!
        //.container
            div.teamgane.LOL
                h3.gametitle League Of Legends
                .row.justify-content-md-left.mb-5
                    .col-sm-auto
                        .media
                            img.mr-3(src='/images/league-logo.png' alt='League of Legends logo' width=120 height=120)
                            .media-body
                                h5.mt-0 About
                                p.mb-0.about In League of Legends, players assume the role of an unseen "summoner" that controls a "champion" with unique abilities and battle against a team of other players or computer-controlled champions. The goal is usually to destroy the opposing team's "Nexus", a structure that lies at the heart of a base protected by defensive structures, although other distinct game modes exist as well. Each League of Legends match is discrete, with all champions starting off fairly weak but increases in strength by accumulating items and experience over the course of the game.[2] The champions and setting blend a variety of elements, including high fantasy, steampunk, and Lovecraftian horror.
                .row.justify-content-md-left.mb-5
                    .col-sm-auto
                        .media
                            img.mr-3(src='/images/league-logo.png' alt='League of Legends logo' width=120 height=120)
                            .media-body
                                h5.mt-0 Team Registry
                                p.mb-0 In order to get everything scheduled for the school year, we have set up a team system. You can register your team at the venue in person.
                .row.justify-content-md-left.mb-5
                    .col-sm-auto
                        .media
                            img.mr-3(src='/images/league-logo.png' alt='League of Legends logo' width=120 height=120)
                            .media-body
                                h5.mt-0 Ruleset
                                iframe(src="/misc/General_Info_WCTA_Ward_Cup_2019-2020.pdf" width="300%" height="500px")
            div.teamgame.overwatch
                h3.gametitle Overwatch
                .row.justify-content-md-left.mb-5
                    .col-sm-auto
                        .media
                            img.mr-3(src='/images/overwatch-logo.png' alt='Overwatch logo' width=120 height=120)
                            .media-body
                                h5.mt-0 About
                                p.mb-0.about Overwatch is a team-based multiplayer first-person shooter developed and published by Blizzard Entertainment and released on May 24, 2016, for PlayStation 4, Xbox One, and Windows. Described as a "hero shooter," Overwatch assigns players into two teams of six, with each player selecting from a roster of over 30 characters, known as "heroes," each with a unique style of play that is divided into three general roles that fit their purpose. Players on a team work together to secure and defend control points on a map or escort a payload across the map in a limited amount of time.
                .row.justify-content-md-left.mb-5
                    .col-sm-auto
                        .media
                            img.mr-3(src='/images/overwatch-logo.png' alt='Overwatch logo' width=120 height=120)
                            .media-body
                                h5.mt-0 Team Registry
                                p.mb-0 You can register your team in person at the venue.
                .row.justify-content-md-left.mb-5
                        .col-sm-auto
                            .media
                                img.mr-3(src='/images/overwatch-logo.png' alt='Overwatch logo' width=120 height=120)
                                .media-body
                                    h5.mt-0 Ruleset
                                    iframe(src="/misc/SSES_Overwatch_Ruleset_FINAL.pdf" width="300%" height="500px")
        