extends layout

block content
	.main#main
		.jumbotron.jumbotron-fluid.smash-banner
			.container
				strong
					h1.display-4.text-light.text-center.shadow.mb-3 SUPER SMASH BROS. ULTIMATE
				p.lead.text-light.text-center.shadow-sm Competitive Super Smash Bros. Ultimate in Nevada.
		.container
			// if registry
			// .row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/wts-logo.png' alt='WCTA Esports Logo' width=120 height=120)
						.media-body
							h5.mt-0 Register for the tournament here now!
							p.mb-0 The tournament starts on (date) and continues on (date 2). Registration closes at (date 3).
							a.btn.btn-danger(href="#" role='button').mt-2 Register now!

			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='images/Smash_Ball.png' alt='WCTA Esports Logo' width=120 height=120)
						.media-body
							h5.mt-0 About
							p.mb-0.about Super Smash Bros. Ultimate[b] is a 2018 crossover fighting game developed by Bandai Namco Studios and Sora Ltd., and published by Nintendo for the Nintendo Switch. It is the fifth installment in the Super Smash Bros. series, succeeding Super Smash Bros. for Nintendo 3DS and Wii U. The game follows the series' traditional style of gameplay: controlling one of various characters, players must use differing attacks to weaken their opponents and knock them out of an arena. It features a wide variety of game modes, including a campaign for single-player and multiplayer versus modes. Ultimate includes every playable character from previous Super Smash Bros. games—ranging from Nintendo's mascots to characters from third-party franchises—and several newcomers, having a total of over 70.
							//a.btn.btn-dark(href='#' role='button').mt-2 View information
			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='images/Smash_Ball.png' alt='WCTA Esports Logo' width=120 height=120)
						.media-body
							h5.mt-0 Ruleset
							iframe(src="/misc/General_Info_WTS_2019-2020.pdf" width="300%" height="500px")
			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='images/Smash_Ball.png' alt='WCTA Esports Logo' width=120 height=120)
						.media-body
							h5.mt-0 Looking for past tournament results?
							p.mb-0 While we are migrating all tournament results to this new site, you can find the old tournament results through the button below.
							a.btn.btn-dark(href='https://westtechsmash.club' role='button').mt-2 View old website