extends layout
   
block content
    .main#main
    section#aboutus.section-bg
    .container
      header.section-header(style='color: #A21C3A;')
        h3 About us
        p
          | General Blurb about us
      .aboutusstuffigidrk  
         .row
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                .icon(style='background: #fceef3;')
                  i.ion-ios-analytics-outline(style='color: #ff689b;')
                h4.title
                  a(href='') President
                p.description
                  | Anakin Conteras
                p.description
                  | #{anakinCar}
                p.description.aboutussocialiconsforusdevdudethingies
                  a(href='https://www.youtube.com/channel/UCAJOojev9VPsLDjZFCpOMyw')
                     i.fab.fa-youtube(style='color: #A21C3A;')
                  a(href='')
                     i.fab.fa-twitter(style='color: #A21C3A;')
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                .icon(style='background: #fff0da;')
                  i.ion-ios-bookmarks-outline(style='color: #e98e06;')
                h4.title
                  a(href='') Vice President
                p.description
                  | Vena Fujimoto
                p.description
                  | #{venaCar}
                p.description.aboutussocialiconsforusdevdudethingies
                  a(href='https://github.com/snekery')
                     i.fab.fa-github(style='color: #A21C3A;')
                  a(href='link')
                     i.fab.fa-youtube(style='color: #A21C3A;')
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.2s' data-wow-duration='1.4s')
              .box
                .icon(style='background: #ecebff;')
                  i.ion-ios-clock-outline(style='color: #8660fe;')
                h4.title
                  a(href='') Member
                p.description
                  | Ethan Aldrich
                p.description
                  | #{ethanCar}
                p.description.aboutussocialiconsforusdevdudethingies
                  a(href='https://github.com/ethanaldrich9986')
                     i.fab.fa-github(style='color: #A21C3A;')
                  a(href='https://twitch.tv/ethanaldr')
                     i.fab.fa-twitch(style='color: #A21C3A;')
                  a(href='hhttps://www.youtube.com/channel/UCQ-HYq_uqMgUtsCzdwiZMFw')
                     i.fab.fa-youtube(style='color: #A21C3A;')
                         
            //.col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.2s' data-wow-duration='1.4s')
              .box
                .icon(style='background: #ecebff;')
              i.ion-ios-clock-outline(style='color: #8660fe;')
                h4.title
                  a(href='') IDK YET
                p.description
                  | Caleb Vogt
                p.description
                  | Rainbow Six Siege
                p.description
                  //a(href='https://github.com/ethanaldrich9986')
                     i.fab.fa-github(style='color: #A21C3A;')
                  //a(href='https://twitch.tv/ethanaldr')
                     i.fab.fa-twitch(style='color: #A21C3A;')
                  //a(href='hhttps://www.youtube.com/channel/UCQ-HYq_uqMgUtsCzdwiZMFw')
                     i.fab.fa-youtube(style='color: #A21C3A;')
                         
            .row

      //h3.sponsors
          strong(text-align='center') Thank you to our sponsors!

      //.sponsorslist
          .row
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo
            .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
              .box
                h4.title
                  a(href='') Sponsor 1
                p logo