extends layout

block content
	.main#main
		.jumbotron.jumbotron-fluid(background='#000')
			.container
				strong
					h1.display-4.text.text-center.mb-3(color='black') Gallery
				p.lead.text.text-center In progress
		//.container-gal
			table
				caption Alien football stars
				tbody
					tr
						th(scope='col') Player
						th(scope='col') Gloobles
						th(scope='col') Za'taak
					tr
						th(scope='row') TR-7
						td 7
						td 4,569
					tr
						th(scope='row') Khiresh Odo
						td 7
						td 7,223
					tr
						th(scope='row') Mia Oolong
						td 9
						td 6,219