extends layout
block content
	.main#main
	section#gallery.section-bg
	.container
		header.section-header(style='color: #A21C3A;')
			h3 Gallery
			p
				| General Blurb about us
		.row
			.col-sm
				img(src='/images/jquery-lightbox-image4.jpg', alt='lightbox image 4', width='100%')
			.col-sm
				img(src='/images/jquery-lightbox-image1.jpg', alt='Effel Tower', width='100%')
		.row
			.col-sm
				img(src='/images/jquery-lightbox-image3.jpg', alt='lightbox image 3', width='100%')
			.col-sm
				img(src='/images/jquery-lightbox-image2.jpg', alt='lightbox image 2', width='100%')