extends layout

block content
	.main#main
		.jumbotron.jumbotron-fluid(background='#000')
			.container
				strong
					h1.display-4.text.text-center.mb-3(color='black') Gallery
				p.lead.text.text-center In progress
		.container
			table
				tbody
					tr
						th(scope='row')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/8-27-21/IMG_1433.jpeg' height='250px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/6-4-21/A0D92C2F-EDE4-4EB3-A7CE-D5DDA4739054.jpeg' height='250px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/6-4-21/0A650C91-C7CA-4D56-A683-BA723D51FE03.jpeg' height='250px')
					tr
						th(scope='row') 
						td Ethans 2016 Subaru WRX
						td Tylers 2014 Subaru WRX
						td Anakins 2004 Subaru Impreza
					tr
						td
							br
					tr
						th(scope='row')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/7-2-21/IMG_1203.JPG' height='400px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/7-2-21/IMG_1212.JPG' height='400px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/7-30-21/IMG_1363.JPG' height='400px')
					tr
						th(scope='row') 
						td Ethans 2016 Subaru WRX
						td Tylers 2014 Subaru WRX
						td Anakins 2004 Subaru Impreza
					tr
						td 
							br
					tr
						th(scope='row')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/CanyonRun8-14-21/IMG_1409.JPG' height='250px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/CanyonRun8-14-21/IMG_1411.JPG' height='250px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/CanyonRun8-14-21/IMG_1414.JPG' height='250px')
					tr
						th(scope='row') 
						td Ethans 2016 Subaru WRX
						td Tylers 2014 Subaru WRX
						td Anakins 2004 Subaru Impreza
					tr
						td
							br
					tr
						th(scope='row') done
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Unedited/7-16-21/IMG_1230.JPG' height='400px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Unedited/7-16-21/IMG_1212.JPG' height='400px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Unedited/7-16-21/IMG_1236.JPG' height='400px')
					tr
						th(scope='row') 
						td Ethans 2016 Subaru WRX
						td Tylers 2014 Subaru WRX
						td Anakins 2004 Subaru Impreza
										tr
						th(scope='row')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/8-27-21/IMG_1433.jpeg' height='250px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/6-4-21/A0D92C2F-EDE4-4EB3-A7CE-D5DDA4739054.jpeg' height='250px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/6-4-21/0A650C91-C7CA-4D56-A683-BA723D51FE03.jpeg' height='250px')
					tr
						th(scope='row') 
						td Ethans 2016 Subaru WRX
						td Tylers 2014 Subaru WRX
						td Anakins 2004 Subaru Impreza
					tr
						td
							br
					tr
						th(scope='row')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/7-2-21/IMG_1203.JPG' height='400px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/7-2-21/IMG_1212.JPG' height='400px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/7-30-21/IMG_1363.JPG' height='400px')
					tr
						th(scope='row') 
						td Ethans 2016 Subaru WRX
						td Tylers 2014 Subaru WRX
						td Anakins 2004 Subaru Impreza
					tr
						td 
							br
					tr
						th(scope='row')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/CanyonRun8-14-21/IMG_1409.JPG' height='250px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/CanyonRun8-14-21/IMG_1411.JPG' height='250px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Edited/CanyonRun8-14-21/IMG_1414.JPG' height='250px')
					tr
						th(scope='row') 
						td Ethans 2016 Subaru WRX
						td Tylers 2014 Subaru WRX
						td Anakins 2004 Subaru Impreza
					tr
						td
							br
					tr
						th(scope='row')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Unedited/7-16-21/IMG_1230.JPG' height='400px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Unedited/7-16-21/IMG_1212.JPG' height='400px')
						td 
							img(src='/images/Gallery/EclipseCarMeetsLaurens/Unedited/7-16-21/IMG_1236.JPG' height='400px')
					tr
						th(scope='row') 
						td Ethans 2016 Subaru WRX
						td Tylers 2014 Subaru WRX
						td Anakins 2004 Subaru Impreza