extends layout
	
block content
    .main#main
    section#help.section-bg
        .container
            .row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        .media-body
                            h5 Contact Information
                            p If you have another question or would like to register your school into the League, be sure to fill out this box with the proper info or contact us via our email silverstateesports@gmail.com or any of our social media accounts!
        .container
            .row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        .media-body
                            h5.mt-0 FAQ
                            ul.mb-0(style='list-style-type:none;')
                                //li
                                    strong
                                        p How can I get my school to join the League?
                                //li
                                    p We are currently 25 schools and 260 members strong! Check this map to see if YOUR  school is already in the Silver State Esports League. If they are, please contact your esports club president for more details on future events.
                                li
                                    strong
                                        p How much will the total fee for joining the League be?
                                li
                                    p There is NO fee for joining the Silver State Esports League as a High School Esports Club, but there are venue and tournament fees for events at places like Gameworks since that is the arrangement we have made with the venue owners.
                                li
                                    strong
                                        p What other fees would a player need to pay for?
                                li
                                    p Players would only need to pay for the events they actually attend. These fees would typically be about $10 in total per student per event. Games with team entry may have a different fee than games with solo entry. Some events may not charge the players to compete at all.
                                li
                                    strong
                                        p Where does all the money go once the player pays?
                                li
                                    p The Silver State Esports League does not use any money as profit for the organization. Any money that the player uses for our events either goes towards the venue owners or goes into the prize pool that the players are competing for.
                                li
                                    strong
                                        p What are the perks of joining the League?
                                li
                                    p The Silver State Esports League is completely optional to join but is recommended for clubs that want to be able to send their best players to compete, for free, in the LVL UP EXPO and against other high schools across the valley.

                                li
                                    strong
                                        p Are you backed by the CCSD or any other government affiliated organizations?
                                li
                                    p We are not in any way affiliated with CCSD but still want to give high schools within the state of Nevada an opportunity within the Esports Community that would typically not be available to them at their local high school.
                                li
                                    strong
                                        p Who plans and promotes all these events?
                                li
                                    p The Silver State Esports League is 100% run for students by students. All events are planned and coordinated by high school students who help run and maintain their own Esports Clubs.
                                li
                                    strong
                                        p Will there be documentation of these events?
                                li
                                    p We plan to to Live Stream our events onto our Twitch Channel and make highlight videos for our Youtube Channel to help promote our players growth in the community. Also photos may be taken for our website and social media. (If you would wish to have a video or picture of yourself removed please contact us immediately!) 
                                li
                                    strong
                                        p How will you be able to communicate between schools across the valley to coordinate events?
                                li
                                    p It is essential for us to have consistent contact with the club leaders at each high school in order to be able to promote our events and explain information that may be vital for people to know.
                                li
                                    strong
                                        p Is there busing from schools to your events?
                                li
                                    p For all events, Silver State Esports League is not responsible for transportation. Each student attending any events will have to be responsible for their own transportation to and from the event.
                                li
                                    strong
                                        p Who is eligible to join the League and compete in events?
                                li
                                    p Any high school within the Las Vegas and Henderson area is eligible to join the Silver State Esports League as long as they contact us and give us the proper information.
                                li
                                    strong
                                        p If my school currently doesn’t have an esports club or one that I’m aware of, can I still compete in events?
                                li
                                    p While some events require a school club, a majority of Silver State Esports Events will be free to enter for ANY student to compete in. Even if your school doesn’t have a gaming related club you are more than welcome to compete in our events.
                                //li
                                    strong
                                        p Question
                                //li
                                    p Answer
        //.mailform
          .div.mail
              form#contact-form(action='/contact' method='post' role='form')
                  fieldset
                      label(for='name') Name *
                      input#name(name='name' type='text' placeholder='Your name' required='required')
                      label(for='email') Email *
                      input#email(name='email' type='text' placeholder='Your email' required='required')
                      label(for='message') Message *
                      textarea#message(name='message' placeholder='Enter your message here' rows='3' required='required')
                      button(type='submit') Submit