extends layout

block content
    .main#main
        .jumbotron.jumbotron-fluid
            .container
                h1.display-4.text-center Eclipse Car Culture
                p.lead.text-center More words about who we are here
                hr.my-4
                p.text-center Learn more about us and what we are all about by using the navigation on the top of the page.
        .container
            .row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        //img.mr-3(src='' alt='Silver State High School Esports Logo' width=120 height=120)
                        .media-body
                            h5.mt-0 header
                            p Paragraph
                            p paragraph
                            p paragraph
        //.containter
            .row.justify-content-md-left-mb-5
                .col-sm-auto
                     .media
                        .media-body 
                            h5.mt-0 Instagram

                .col-sm-auto
                    .media
                        .media-body
                            h5.mt-0 Twitter

                .col-sm-auto
                    .media
                        .media-body
                            h5.mt-0 YouTube