extends layout

block content
	.main#main
		.jumbotron.jumbotron-fluid.league-banner
			.container
				strong
					h1.display-4.text-light.text-center.mb-3 LEAGUE OF LEGENDS
				p.lead.text-light.text-center Competitive League of Legends
		.container
			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/league-logo.png' alt='League of Legends logo' width=120 height=120)
						.media-body
							h5.mt-0 About
							p.mb-0.about In League of Legends, players assume the role of an unseen "summoner" that controls a "champion" with unique abilities and battle against a team of other players or computer-controlled champions. The goal is usually to destroy the opposing team's "Nexus", a structure that lies at the heart of a base protected by defensive structures, although other distinct game modes exist as well. Each League of Legends match is discrete, with all champions starting off fairly weak but increases in strength by accumulating items and experience over the course of the game.[2] The champions and setting blend a variety of elements, including high fantasy, steampunk, and Lovecraftian horror.
			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/league-logo.png' alt='League of Legends logo' width=120 height=120)
						.media-body
							h5.mt-0 Team Registry
							p.mb-0 In order to get everything scheduled for the school year, we have set up a team system. You can register your team at the venue in person.
			//.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/league-logo.png' alt='League of Legends logo' width=120 height=120)
						.media-body
							h5.mt-0 Ruleset
							ul.mb-0
								li Draft pick
								li Five players per team
								li Spectators on
								li All runes, spells, and cosmetics are 
									strong allowed
								li All other rules are to be set to default values
			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/league-logo.png' alt='League of Legends logo' width=120 height=120)
						.media-body
							h5.mt-0 Ruleset
							iframe(src="/misc/General_Info_WCTA_Ward_Cup_2019-2020.pdf" width="300%" height="500px")