extends layout

block content
    .main#main
        .jumbotron.jumbotron-fluid.mc-banner
            .container
                strong
                    h1.display-4.text-light.text-center Minecraft
                p.lead.text-light.text-center Competitive Minecraft Hunger Games
        .container
            .row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/minecraft-1-logo-png-transparent.png' alt='MC logo' width=120 height=120)
                        .media-body
                            h5.mt-0 Coming Soon!
                            //p.mb-0 Arenas can have any min, max of how every many starting spots are available. It will vary per arena. For example turbulence has 24 max spots, whereas fallen industry has 32. Pay to play. $5 dollars entry plus venue Which will vary.  Server will be whitelisted to prevent unauthorized users from joining, and admins will always be whitelisted to ensure a smooth and fun experience. To particapate players are able to pay on ours site and add your username with it to be added to white list or in person pay and be added before game starts.

            //.row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/r6s-icon.png' alt='R6rlogo' width=120 height=120)
                        .media-body
                            h5.mt-0 About
                            p.about Minecraft is a sandbox video game created by Swedish game developer Markus Persson and released by Mojang in 2011. The game allows players to build with a variety of different blocks in a 3D procedurally generated world, requiring creativity from players. Other activities in the game include exploration, resource gathering, crafting, and combat. Multiple game modes that change gameplay are available, including—but not limited to—a survival mode, in which players must acquire resources to build the world and maintain health, and a creative mode, where players have unlimited resources to build with. The Java Edition of the game allows players to modify the game with mods to create new gameplay mechanics, items, textures and assets.
 

            //.row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/minecraft-1-logo-png-transparent.png' alt='MC logo' width=120 height=120)
                        .media-body
                            h5.mt-0 Team Registry
                            p.mb-0 You can register your team using the link below, but be sure to read ALL of the rules!
                            a.btn.btn-dark(href='#' role='button').mt-2 Register your team
            //.row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/minecraft-1-logo-png-transparent.png' alt='MC logo' width=120 height=120)
                        .media-body
                            h5.mt-0 Team Registry
                            p.mb-0 You can register your team in person at the venue.
            //.row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/minecraft-1-logo-png-transparent.png' alt='MC logo' width=120 height=120)
                        .media-body
                            h5.mt-0 Ruleset
                            ul.mb-0
                                li 60 minute time limit
                                li No Team
                                li Tournaments are 5 rounds, random arena. Top 10 get points based upon placement (10 points for first, 9 points for 2nd place, etc.) player with most points win.
                                li All kits are available
                                li No Mobs
                                li Tournament winners gets to create a Kit, and will be on in game leaderboards!
                                // click me for some google doc action :glasses: https://docs.google.com/document/d/1-3V7epsXZZNSOB4Dt6mibCC3oz0dap_0F-BxxAcYbbk/edit?usp=sharing