.footer {
    background-color: #f5f5f5;
}

.smash-banner {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/banner-smash.jpg');
    background-size: cover;
}

.mc-banner {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/mc-banner.png');
    background-size: cover;
}

.lvlup-banner {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/lvlupbanner.png');
    background-size: cover;
}

.fortnite-banner {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/fortnite-banner.png');
    background-size: cover;
}

.overwatch-banner {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/overwatch-banner.png');
    background-size: cover;
}

.league-banner {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/lol-banner.png');
    background-size: cover;
}

.r6-banner {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/r6-banner.png');
    background-size: cover;
}

.gameabout {
    text-align: justify;
}

.aboutusstuffigidrk {
    margin: 10 auto;
    text-align: center;
}

.aboutussocialiconsforusdevdudethingies {
}

.sponsors {
    text-align: center;
}

.sponsorslist {
    text-align: center;
    color: #242F69;
}

.sponsorslist.h4 {
    color: #242F69;
}



/* Prelaoder */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

    #preloader:before {
        content: "";
        position: fixed;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        border: 6px solid #f2f2f2;
        border-top: 6px solid #242F69;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        -webkit-animation: animate-preloader 1s linear infinite;
        animation: animate-preloader 1s linear infinite;
    }

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*Sections*/
.section-header h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
}

/* 
    Leagueinfo Pricing Table
*/
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-73oq {
    border-color: #000000;
    text-align: left;
    vertical-align: top
}

/* aboutus Section
--------------------------------*/

#aboutus {
    padding: 60px 0 40px 0;
}

    #aboutus .box {
        padding: 30px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        margin: 0 10px 40px 10px;
        background: #fff;
        box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
        transition: all 0.3s ease-in-out;
        text-align: center;
    }

        #aboutus .box:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

    #aboutus .icon {
        margin: 0 auto 15px auto;
        padding-top: 12px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

        #aboutus .icon i {
            font-size: 36px;
            line-height: 1;
        }

    #aboutus .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
    }

        #aboutus .title a {
            color: #111;
        }

    #aboutus .box:hover .title a {
        color: #242F69;
    }

    #aboutus .description {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 0;
        text-align: left;
        color: #242F69;
    }
    /*
        DropDownshitttt
    */

/* Dropdown Button */
.dropbtn {
    background-color: #242F69;
    color: #9297b4;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 9px;
}

.dropbtn :hover{
    color: #c8cbd9;
}

    .dropdown :hover {
        color: #c8cbd9;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #242F69;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #3333cc
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* Gallery */

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
body{
    font-family: 'Quicksand', sans-serif;
}
.gal-container{
    padding: 12px;
}
.gal-item{
    overflow: hidden;
    padding: 3px;
}
.gal-item .box{
    height: 350px;
    overflow: hidden;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    -o-object-fit:cover;
}
.gal-item a:focus{
    outline: none;
}
.gal-item a:after{
    content:"\e003";
    font-family: 'Glyphicons Halflings';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 3px;
    left: 3px;
    top: 3px;
    bottom: 3px;
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
    opacity: 1;
}
.modal-open .gal-container .modal{
    background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
    padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
    outline: none;
}
.modal-open .gal-item button.close span{
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow:none;
}
.gal-container .modal-dialogue{
    width: 80%;
}
.gal-container .description{
    position: relative;
    height: 40px;
    top: -40px;
    padding: 10px 25px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
}
.gal-container .description h4{
    margin:0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
    .gal-container .modal-dialog {
        width: 55%;
        margin: 50 auto;
    }
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}