<div id="contact" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Gallery</h1>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
